@import 'colors';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family:'Times New Roman', Times, serif;
    background-color: $beige;
}

header { 
    position: fixed;
    width: 100vw;
    top: 0px;
    border-bottom: 1px solid $black;
}

main {
    margin: 81px 30.2vw 0vw 25vw;
}

