@import 'colors';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background-color: $beige;
    font-family:'Times New Roman', Times, serif;
}

header { 
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid $black;
}

main {
    margin: 81px 30.2vw 0vw 25vw;
    width: 44.8vw;
}

@media (max-width: 1439px) {
    main {
        margin-left: auto;
        margin-right: auto;
        width: 645.12px;
    }
}

@media (max-width: 661.12px) {
    main {
        margin-left: auto;
        margin-right: auto;
        width: 97.51984126984127vw;
    }
}



