 @import 'colors';

.main {
    display: flex; 
    margin: 16px 12.5vw 8px 12.5vw;
    font-size: 32px;
    color: $black;
    list-style: none;
    justify-content: space-between;
}

.page {
    background-color: transparent;
    position: absolute;
    margin-left: 12.5vw;
}

.page__user {
    list-style: none;
    display: flex;
    margin-left: 8px;
}

.user__main {
    text-decoration: none;
    color: $black;
    font-weight: bold;
}

.user__other {
    margin-left: 16px;
}

.other__link {
    text-decoration: none;
    color: $gray;
}

.other__link:focus {
    color: $black;
}

.logged {
    list-style: none;
    display: flex;  
}

.logged__component {
    margin-right: 16px;
}

.component__input {
    width: 18.75vw;
    height: 32px;
    border: 1px solid $gray;
    border-radius: 10px;
    font-size: 24px;
    position: relative;
    padding: 6px;
    bottom: 6px;
}

.component__input:focus {
    outline: none;
    border: 1px solid $black;
}

.image {
    border-radius: 50%;
}

.page__dashboard {
    list-style: none;
    margin-left: 8px;
    color: $black;
    font-weight: bold;
}

.dashboard__link {
    text-decoration: none;
    color: $black;
    font-weight: bold;
}