@import 'colors';

// General.

.main {
    display: flex; 
    margin: 16px 12.5vw 8px 12.5vw;
    font-size: 32px;
    color: $pantoneNeutralBlackC;
    list-style: none;
    justify-content: space-between;
}


.image {
    border-radius: 50%;
}

.page {
    background-color: transparent;
    position: absolute;
    margin-left: 12.5vw;
}

// Dashboard.

.page__dashboard {
    list-style: none;
    margin-left: 8px;
    color: $pantoneNeutralBlackC;
    font-weight: bold;
    .dashboard__link {
        text-decoration: none;
        color: $pantoneNeutralBlackC;
        font-weight: bold;
    }
}


// Input.

.logged {
    list-style: none;
    display: flex; 
    .logged__component {
        margin-right: 16px;
    } 
}

.component__input {
    width: 256px;
    height: 32px;
    border: 1px solid $pantoneCoolGray4C;
    color: $pantoneNeutralBlackC;
    border-radius: 10px;
    font-size: 18px;
    position: relative;
    padding: 6px;
    bottom: 6px;
}

.component__input:hover {
    border: 1px solid $pantoneCoolGray8C;
}

.component__input:focus {
    outline: none;
    border: 1px solid $pantoneCoolGray8C;
}

.component__input::placeholder {
    color: $pantoneCoolGray8C;
}

// User.

.page__user {
    list-style: none;
    display: flex;
    margin-left: 8px;
    .user__main {
        text-decoration: none;
        color: $pantoneNeutralBlackC;
    }
    .user__other {
        margin-left: 16px;
    }
    .user__button {
        margin-left: 16px;
        padding: 0px 8px 0px 8px;
    }
}

.other__linkon {
    text-decoration: none;
    color: $pantoneNeutralBlackC;
}

.other__linkoff {
    text-decoration: none;
    color: $pantoneCoolGray8C;
}

.other__linkoff:hover {
    color: $pantoneNeutralBlackC;
}


.button__on {
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    height: 32px;
    background-color: $pantoneBlue072C;
    color: $pantoneCoolGray1C;
}

.button__off {
    border-radius: 10px;
    font-size: 16px;
    width: 80px;
    height: 32px;
    font-weight: bold;
    border: 1px solid $pantoneCoolGray8C;
    color: $pantoneCoolGray8C;
}

.button__off:hover {
    border: 1px solid $pantoneNeutralBlackC;
    color: $pantoneNeutralBlackC;
}

.button__off:active {
    border: 1px solid $pantoneNeutralBlackC;
    color: $pantoneNeutralBlackC;
}
