@import 'variables';

.main {
    list-style: none;
}

.story {
    list-style: none;
    border-bottom: 1px solid $pantoneCoolGray8C;
}

.first {
    margin: 16px 8px 4px 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

// Top. 

.first__information {
    list-style: none;
    display: flex;
    font-size: 18px;
    .information__image {
        border-radius: 50%;
    }
    .information__name {
        margin-left: 8px;
        font-size: 18px;
        font-weight: bold;
        color: $pantoneNeutralBlackC;
    }
    .information__button {
        margin-left: 8px;
    }
    .information__book {
        margin-left: 4px;
        text-decoration: none;
        font-size: 18px;
        color: $pantoneCoolGray8C;
    }
}

.first__date {
    margin-left: 8px;
    font-size: 18px;
    color: $pantoneCoolGray8C;
}

.button {
    background-color: $pantoneCoolGray8C;
    color: $pantoneCoolGray1C;
    border-radius: 50%;
    width: 18px;
    height: 18px;
} 

.button:active {
    background-color: $pantoneNeutralBlackC;
}

.information__book:active {
    color: $pantoneNeutralBlackC;
}

.information__name:hover {
    color: $pantoneBlue072C;
}

// Bottom.

.second {
    margin: 0px 8px 16px 32px;
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
    .second__element {
        text-decoration: none;
        color: $pantoneNeutralBlackC;
        font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    }
}

// Selection. 
