@import 'colors';

.main {
    border-bottom: 1px solid $pantoneCoolGray8C;
}

.form {
    width: inherit;
}

.fieldset__top {
    margin-left: 8px;
    margin-bottom: 8px;
    display: flex;
}

.top__image {
    border-radius: 50%;
}

.top__textarea {
    margin-left: 8px;
    width: 604px;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    color: $pantoneNeutralBlackC;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    height: 128px;
}

.top__textarea:focus {
    outline: none;
}

.top__textarea:after {
    content: " |";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
}

.top__textarea::placeholder {
    color: $pantoneCoolGray8C;
}

.fieldset__bottom {
    margin: 0px 8px 16px 32px;
    display: flex;
    justify-content: space-between;
}

// Select.

.bottom__book {
    width: 256px;
    border: 1px solid $pantoneCoolGray4C;
    border-radius: 8px;
    height: 32px;
    padding-left: 6px;
    font-size: 18px;
    color: $pantoneNeutralBlackC;
}

.bottom__book:focus {
    outline: none;
    border: 1px solid $pantoneCoolGray8C;
}

.bottom__book:hover {
    border: 1px solid $pantoneCoolGray8C;
}

.bottom__book::placeholder {
    color: $pantoneCoolGray8C;
}

// Publish.

.bottom__publish {
    width: 80px;
    height: 32px;
    color: $pantoneCoolGray1C;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: $pantoneBlue072C;
}
